name: Sync from lone-dma

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - uses: tgymnich/fork-sync@v1
        with:
          owner: moulmandev
          repo: EFT-DMA-Radar
          head: master
          base: master
